.thread-container{
    flex-grow:1;
    overflow-y:scroll;
    position:relative;
    width:800px;
    background-color:#fff
    }
.thread-container::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    background-color:#fff}
.thread-container::-webkit-scrollbar{
    width:5px;
    background-color:#e91e63}
.thread-container::-webkit-scrollbar-thumb{background-color:#e91e63}
.thread-container .thread{
    position:relative;
    width:750px;
    min-height:800px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    color:black;
    background:#fff;
   }
.message-container{
    display:flex;
    justify-content:flex-start;
    min-height:50px;
    animation:.65s ease-out 0s show}
.message-container .time{order:1;font-size: 12px;}
.message-container .data{
    order:2;
    height:100%;
    margin-left:25px}
.message-container .name{
    font-size:.65em;
    margin-top:5px;
    text-align:right}
.message-container .message{
    background:#fafafa;
    border-radius:5px;
    border-top-left-radius:0;
    box-sizing:border-box;
    color:#e91e63;
    height:100%;
    padding:10px 15px;
    position:relative}@keyframes show{0%{opacity:0}100%{opacity:1}}
.message-container .message::before{
    border-bottom-color:transparent;
    border-left-color:transparent;
    border-right-color:#fff;
    border-style:solid;
    border-top-color:#fff;
    border-width:4px;
    content:'';
    height:0;
    left:-7px;
    position:absolute;
    top:0;
    width:0}
.message-container.right{
    text-align:right;
    justify-content:flex-end}
.message-container.right .time{
    order:2;
    font-size: 12px;
    margin-left:25px}
.message-container.right .data{
    margin-left:0;
    order:1}
.message-container.right .name{display:none}
.message-container.right .message{
    background:#e91e63;
    color:#fff; 
    border: radius 10px;
    border-top-right-radius:2px;
    border-top-left-radius:5px}
.message-container.right .message::before{
    border-top-color:#e91e63;
    border-left-color:#e91e63;
    border-right-color:transparent;
    left:auto;
    right:-7px}
.typing-user{
    text-align:right;
    font-size: 12px;
    margin:10px 15px}
.message-input{
    background:white;
    border-color: #e91e63;
    color:#484d79;
    box-sizing:border-box;
    height:10vh;
    max-height:65px}
.message-input .message-form{
    height:100%;
    width:100%;
    display:flex;
    justify-content:space-between}
.message-input .message-form .form-control{
    padding-top:24px;
    padding-bottom:24px;
    border-color: #e91e63;
    
    border-radius: 30px;
    border-width:2px;
    border-style:dashed;
    resize:none;
    padding-left:15px;
    box-sizing:border-box;
    width:80%;
    height:100%;
    }
.message-input .message-form .form-control::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    background-color:#cac8ee}
.message-input .message-form .form-control::-webkit-scrollbar{
    width:5px;
    background-color:green}
.message-input .message-form .form-control::-webkit-scrollbar-thumb{background-color:#484d79}
.message-input .message-form .form-control:focus{outline:none}
.message-input .message-form .send{
    width:20%;
    box-sizing:border-box
    ;font-size:1.25em;
    text-align:center;
    border:none;
    height:100%;
    border-radius: 30px;
    color:#fff;
    background:#f06292;
    transition:all .35s ease-out}
.message-input .message-form .send:disabled{
    opacity:.2;
    background:#f59ab9}