ul{
    list-style: none;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    height: 80%;
  }

  ul li{
    clear: both;
    display: block;
    margin-bottom: 5px;
    max-width: 47%;
    min-width: 8%;

    p {
      border-radius: 100px / 50px;
      padding: 5px 20px;
      margin: 0;
    }

    .author {
      color: grey;
      display: inline-block;
      text-align: center;
      padding: 5px;
      margin: 0 2%;
      font-weight: 300;
      font-size: 12px;
    }
  }

  .him {
    float: left;
    text-align: left;

    p {
      background: grey;
    }
  }

  .me {
    float: right;
    text-align: right;

    .author {
      display: none;
    }

    p {
      background: blue;
      color: white;
    }
  }

  .him + .me{
    p {
      border-bottom-right-radius: 5px;
    }
  }

  .me + .me{
    p {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  .me:last-of-type {
    p {
      border-bottom-right-radius: 30px;
    }
  }
